{% extends "base.html" %}

{% block title %}EduDuck - Study Plan{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/EnhancedNotes/EnhancedNotesStyle.css">
    <link rel="stylesheet" href="/static/variables.css">
    <link rel="stylesheet" href="/static/studyPlanGenerator/style.css">
    <script src="/dist/studyPlanGenerator/result.js" type="module" defer></script>
    <script>
        window.CURRENT_USERNAME = "{{ current_user.username if current_user.is_authenticated else '' }}";
    </script>
{% endblock %}

{% block content %}
    <div class="md-content" data-notes='{{ plan|tojson|safe }}' style="display: flex; flex-direction: column;"><span style="align-self: center; text-align: center;">Nothing There :[</span><br></div>
{% endblock %}
