{% extends "base.html" %}

{% block title %}{{ _('EduDuck - Quiz') }}{% endblock %}

{% block head %}

    <link rel="stylesheet" href="/static/Quiz/QuizStyle.css">
    <script src="/dist/Quiz/Quiz.js" type="module" defer></script>
    <script>
        window.CURRENT_USERNAME = "{{ current_user.username if current_user.is_authenticated else '' }}";
    </script>
{% endblock %}

{% block content %}
    <div class="main">
        <div id="quizContainer" data-notes='{{ quiz|tojson|safe }}'>
        </div>
        
        <button class="button submit-quiz" id="submitQuiz" style="display: none; justify-content: center; align-items: center; text-align: center;">
            {{ _('Submit Quiz →') }}
        </button>
        
        <button class="button export" style="margin-bottom: 25px;">📄 {{ _('Export Quiz') }}</button>
    </div>
{% endblock %}
