.pBig {
    font-size: 50px;
    font-weight: bolder;
}

.pMedium {
    font-size: 30px;
}

.point { 
    font-size: 30px;
    font-weight: 600;
}

.link {
    text-decoration: none;
}

.repoLink {
    text-decoration: none;
    animation: repoEffect 5s infinite alternate-reverse;
}

@keyframes repoEffect {
    from { color: aquamarine }
    to { color: rgb(0, 162, 255) }
}

.gradient {
    animation: repoEffect 5s infinite alternate-reverse;
}

.points {
    display: flex;
    gap: 35px;
}
