<div style="display: flex; justify-content: center; gap: 25px">
    <div class="customModelSelector checkbox">
        <label for="customModel" id="customModelLabel">
            <input type="checkbox" id="customModel">
            Use custom model
        </label>
    </div>
    {% if current_user.is_authenticated %}
    <div class="FreeUsage checkbox">
        <label for="FreeUsage" id="FreeUsageLabel">
            <input type="checkbox" id="FreeUsage">
            Free Daily (No API Key)
        </label>
    </div>
    {% endif %}
</div>
<textarea class="customModelInput textInput slimmest hidden" placeholder="Enter custom model here! (e.g., mistralai/Mistral-7B-Instruct)"></textarea>

<select id="apiMode" class="select">
    <option value="Hugging Face">Hugging Face</option>
    <option value="Gemini">Gemini</option>
    <option value="OpenAI">OpenAI</option>
</select>

<textarea class="apiKey textInput slimmest" placeholder="Enter your API key here!"></textarea>
