{% extends "base.html" %}

{% block title %}EduDuck - Enhanced Notes{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/EnhancedNotes/EnhancedNotesStyle.css">
    <link rel="stylesheet" href="/static/Main/style.css">
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@14.1.0/dist/markdown-it.min.js"></script>
    <script src="/dist/EnhancedNotes/EnhancedScript.js" type="module" defer></script>
    <script>
        window.CURRENT_USERNAME = "{{ current_user.username if current_user.is_authenticated else '' }}";
    </script>
{% endblock %}

{% block content %}
    <div class="Enhanced md-content" data-notes='{{ notes|tojson|safe }}' style="display: flex; flex-direction: column;"><span style="align-self: center; text-align: center;">Nothing There :[</span><br></div>
{% endblock %}
