{% extends "base.html" %}

{% block title %}EduDuck - Note Enhancer{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/spinner.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/dist/NoteEnhancer/script.js" type="module" defer></script>
    <script>
        window.CURRENT_USERNAME = "{{ current_user.username if current_user.is_authenticated else '' }}";
    </script>
{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="main">
            {% include 'includes/model_selector.html' %}
            
            {% include 'includes/file_upload.html' %}
            
            <textarea class="notes textInput standard" placeholder="Notes go here :]">{{ prefill_topic or '' }}</textarea>
            
            {% include 'includes/language_selector.html' %}
            
            <button class="button submit">✨ Enhance Notes</button>
            <div class="file-upload-wrapper">
                <input type="file" id="enNotefileInput" class="file-input import" accept=".txt"/>
                <label for="enNotefileInput" class="button fileButton">📄 Import Enhanced Notes</label>
            </div>
            <div class="status-wrapper">
                <div class="spinner hidden"></div>
                <span class="status-text hidden"></span>
            </div>
        </div>
    </div>
{% endblock %}
