body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    background: rgb(0, 149, 255);
    color: white;

    background-image: url("/assets/duck.jpg");
    background-size: cover;
    background-position: center;
}

.header-text {
    color: rgb(175, 248, 248);
    font-size: 55px;
    font-weight: bolder;
    flex: 1;
    text-align: center;
}

.header-redirect {
    color: #d6fbfb;
    font-size: 40px;
    font-weight: bolder;
    text-decoration: none;
    white-space: nowrap;

    transition: transform 0.2s ease-in;
}

.header-redirect:hover {
    transform: scale(1.05);
}

.pBig {
    font-size: 50px;
    font-weight: bolder;
}

.pMedium {
    font-size: 30px;
}

.point { 
    font-size: 30px;
    font-weight: 600;
}

.link {
    text-decoration: none;
}

.repoLink {
    text-decoration: none;
    animation: repoEffect 5s infinite alternate-reverse;
}

footer {
    padding-top: 50px;
    align-self: center;
}

@keyframes repoEffect {
    from { color: aquamarine }
    to { color: rgb(0, 162, 255) }
}

.gradient {
    animation: repoEffect 5s infinite alternate-reverse;
}

.points {
    display: flex;
    gap: 35px;
}
