body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    background: rgb(0, 149, 255);
    color: white;

    background-image: url("/static/img/duck.jpg");
    background-size: cover;
    background-position: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    gap: 15px;
    padding-top: 65px;
}

.textInput {
    width: 90vw;
    max-width: 500px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: inherit;
    min-height: 50px;
    resize: none;
    box-sizing: border-box;
    text-align: center;
    font-size: clamp(16px, 4vw, 18px);
}
.slimmest {
    padding: 1rem 0 0 0;
}

.textInput:focus {
    border: 3px solid blue;
    outline: none;
}

.button {
    width: clamp(50px , 20vw , 200px);
    height: clamp(50px , 2vw , 75px);
    align-self: center;

    background: rgb(217, 217, 217);
    
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 20px;
}

.button:hover {
    background: rgb(222, 222, 222);
}

.button:active {
    background: rgb(200 , 200 , 200);
}

.output {
    width: clamp(100px , 55vw , 500px);
    align-self: center;
}

footer {
    padding-top: 50px;
    align-self: center;
}


.repoLink {
    text-decoration: none;
    animation: repoEffect 5s infinite alternate-reverse;
}

@keyframes repoEffect {
    from { color: aquamarine }
    to { color: rgb(0, 162, 255) }
}

.header-text {
    color: rgb(175, 248, 248);
    font-size: 55px;
    font-weight: bolder;
    flex: 1;
    text-align: center;
}

.header-redirect {
    color: #d6fbfb;
    font-size: 40px;
    font-weight: bolder;
    text-decoration: none;
    white-space: nowrap;

    transition: transform 0.2s ease-in;
}

.header-redirect:hover {
    transform: scale(1.05);
}

.file-upload-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
}

.file-input {
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
}

.fileButton {
    padding: 15px;
    cursor: pointer;
}

.hidden {
    display: none;
}