<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduDuck - Enhanced Notes</title>
    <link rel="stylesheet" href="/static/EnhancedNotes/EnhancedNotesStyle.css">
    <link rel="stylesheet" href="/static/Main/style.css">
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@14.1.0/dist/markdown-it.min.js"></script>
    <script src="/static/EnhancedNotes/EnhancedScript.js" defer></script>
</head>
<body>
    <div class="header">
        <a class="header-redirect" href="https://ko-fi.com/vxiddev" style="padding-left: 50px;">Donate</a>
        <h1 class="header-text">DuckAI</h1>

        <div style="display:flex; align-items:center; gap:10px; padding-right:50px;">
            <button class="theme-toggle" id="theme-toggle" aria-label="Toggle theme">🌙</button>
            <a class="header-redirect" href="/keyAccess">How to get key?</a>
        </div>
    </div>

    <div class="Enhanced md-content" data-notes='{{ notes|tojson|safe }}'></div>

    <footer>
            <span class="">By <a class="repoLink" href="https://github.com/VxidDev/eduDuck/">VxidDev</a> - 2025</span>
    </footer>

    <script src="/static/Components/DarkModeToggle.js"></script>
</body>
</html>
