<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI notes</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js" defer></script>
</head>
<body>
    <div class="header">
        <h1>AI STUDY HELPER</h1>
    </div>
    
    <div class="main">
        <textarea class="apiKey textInput" placeholder="Enter your Hugging Face API key here!"></textarea>
        <textarea class="notes textInput" placeholder="Notes go here :)"></textarea>
        <button class="submit">Submit</button>
        <textarea class="output textInput" placeholder="Your answer will be here"></textarea>
    </div>
</body>
</html>