<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduDuck - How to get key?</title>
    <link rel="stylesheet" href="/static/KeyStyle.css">
</head>
<body>
    <div class="header">
        <a class="header-redirect" href="https://ko-fi.com/vxiddev" style="padding-left: 50px;">Donate</a>
        <h1 class="header-text">EduDuck</h1>
        <a class="header-redirect" href="/" style="padding-right: 50px;">Go back to main</a>
    </div>

    <p class="pBig" style="align-self: center;">How to get key?</p>
    <ul class="points">
        <li class="point"> Step 1 <p class="pMedium" style="font-weight: 100;">Go to <a class="link" href="https://huggingface.co/settings/tokens">Hugging face</a>.</p></li>
        <li class="point"> Step 2 <p class="pMedium" style="font-weight: 100;">Click "Create new token"</p></li>
        <li class="point"> Step 3 <p class="pMedium" style="font-weight: 100;">In "Fine-grained" section<br>Check all the "Inference"<br>permissions.</p></li>
        <li class="point"> Step 4 <p class="pMedium" style="font-weight: 100;">Now copy the key and paste into the website.</p></li>
    </ul>

    <h1 style="font-size: 75px; align-self: center;" class="gradient">Done!</h1>
    <footer>
            <span class="">By <a class="repoLink" href="https://github.com/VxidDev/eduDuck/">VxidDev</a> - 2025</span>
    </footer>
</body>
</html>