{% extends "base.html" %}

{% block title %}EduDuck - Flashcards{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/variables.css">
    <link rel="stylesheet" href="/static/flashcardResult/style.css">

    <script src="/dist/flashcardResult/script.js" type="module" defer></script>
    <script>
        window.CURRENT_USERNAME = "{{ current_user.username if current_user.is_authenticated else '' }}";
    </script>
{% endblock %}

{% block content %}
    <div class="main">
        <p class="md-content" id="display" data-notes='{{ flashcards|tojson|safe }}'>Loading...</p>
        <button class="button export" style="margin-bottom: 25px;">📄 Export Flashcards</button>
    </div>
{% endblock %}
